@import '_header.scss';

$initial-margin: 0%;
$initial-padding: 0%;
$underline: none;
$full-width: 100%;
$roundness: 3px;

@mixin align() {
    margin: $initial-margin;
    padding: $initial-padding;
}

@mixin nav-links($light-color) {
    text-decoration: $underline;
    color: $light-color;
}

@mixin image-size() {
    width: $full-width;
    border-radius: $roundness;
}

* {
    @include align();
}

body {
    background: $light-color;
}

#contact-nav {
    text-align: center;
    margin: 5%;

    >h1 {
        color: $dark-color;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    nav>a {
        @include nav-links(black);
        text-align: center;
        margin-top: 10%;
    }
}

.info {
    margin: 5%;

    p>a {
        @include nav-links($dark-color);
        text-align: center;
        font-weight: bold;
    }

    iframe {
        @include image-size();
        margin-top: 5%;
    }
}

@import '_footer.scss';