header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 5% 0%;
  background: brown;
  color: beige;
  min-height: 10vh;
}

header .main-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2%;
  text-align: center;
}

header .main-nav > a {
  text-decoration: none;
  color: beige;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header > h1 {
    font-size: 3rem;
  }
  header .main-nav {
    font-size: 20pt;
    -webkit-column-gap: 10%;
            column-gap: 10%;
    margin-right: 4%;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    background: darkcyan;
  }
  header > h1 {
    font-size: 5rem;
  }
  header .main-nav {
    font-size: 2em;
    -webkit-column-gap: 15%;
            column-gap: 15%;
    margin-right: 10%;
  }
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  background: beige;
}

#menu-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  text-align: center;
  margin-top: 5%;
}

#menu-nav > h1 {
  color: brown;
}

#menu-nav nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 3%;
}

#menu-nav nav > a {
  text-decoration: none;
  color: black;
  text-align: center;
}

article {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

article .menu-item {
  margin: 5% 0%;
  padding: 5%;
  background: burlywood;
  width: 70%;
}

article .menu-item .menu-image {
  width: 40%;
  border-radius: 3px;
  margin: 5% 0%;
}

article .menu-item .description {
  font-size: 10pt;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 5% 0%;
  text-align: center;
  background: brown;
  color: beige;
  min-height: 10vh;
}

footer #copyright {
  font-size: 10pt;
}

footer .social-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  place-items: center;
  -webkit-column-gap: 3%;
          column-gap: 3%;
}

footer .social-links a {
  text-decoration: none;
  color: beige;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer .social-links a {
    font-size: 18pt;
  }
  footer #copyright {
    font-size: 14pt;
  }
}

@media only screen and (min-width: 1000px) {
  footer {
    background: darkcyan;
  }
  footer .social-links a {
    font-size: 25pt;
    font-weight: bold;
  }
  footer #copyright {
    font-size: 18pt;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background: lightgrey;
  }
  #menu-nav > h1 {
    font-size: 3rem;
  }
  #menu-nav nav > a {
    font-size: 20pt;
  }
  article .menu-item {
    background: brown;
    color: white;
  }
  article .menu-item h4 {
    font-size: 20pt;
  }
  article .menu-item .description {
    font-size: 14pt;
    margin-top: 3%;
  }
  article .menu-item .menu-image {
    width: 20%;
    border-radius: 3px;
    margin-top: 3%;
    margin-right: 5%;
    float: left;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background: whitesmoke;
  }
  #menu-nav > h1 {
    font-size: 4rem;
    color: darkcyan;
  }
  #menu-nav nav > a {
    font-size: 3em;
  }
  article {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 5%;
    margin: 10% 0%;
  }
  article .menu-item {
    background: darkcyan;
    height: 80%;
  }
  article .menu-item h4 {
    font-size: 30pt;
  }
  article .menu-item .description {
    font-size: 16pt;
    margin-top: 3%;
  }
  article .menu-item .menu-image {
    width: 40%;
    border-radius: 3px;
    margin-top: 3%;
    margin-right: 5%;
    float: left;
  }
}
/*# sourceMappingURL=menu.css.map */