header {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    place-items: center;
}

#contact-nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#contact-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#menu-items {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#menu-nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#menu-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

iframe {
    width: 560px;
    height: 315px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 0px 0px black;
}

.dining {
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
}

.margherita {
    width: 300px;
    border: 1px solid black;
    border-radius: 2%;
}

.dough {
    width: 300px;
    border: 5px solid burlywood;
    border-radius: 50%;
}

.chef {
    width: 300px;
    box-shadow: 5px 5px 5px 0px grey;
}

.restaurant {
    width: 300px;
    border: 5px double black;
}

.menu-item {
    width: 500px;
}

/* This is shown in the "Contact" page */
#shop-hours p {
    color: skyblue;
}

/* This is shown in the "About Us" page */
#about-paragraph>#first-paragraph {
    background: lightcoral;
}

/* This is shown in the "Home" page */
#slogan+p {
    background: peru;
}

/* This is more evident in the "Contact" page where you can see the phone number and email links are greenyellow*/
a:link {
    font-weight: bold;
    color: greenyellow;
}

/* This was used to change the colour of the links when the user visited the site */
a:visited {
    color: red;
}

/* This was used to style the links when the user hovers over it */
a:hover {
    color: burlywood;
    border: 2px double burlywood;
}

/* This will change the background of the links when the user presses it */
a:active {
    background: rosybrown;
}