iframe {
    width: 560px;
    height: 315px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 0px 0px black;
}

.dining {
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
}

.margherita {
    width: 300px;
    border: 1px solid black;
    border-radius: 2%;
}

.dough {
    width: 300px;
    border: 5px solid burlywood;
    border-radius: 50%;
}

.chef {
    width: 300px;
    box-shadow: 5px 5px 5px 0px grey;
}

.restaurant {
    width: 300px;
    border: 5px double black;
}

.menu-item {
    width: 500px;
}

